:root {
  --module-background-color: #777;
  --module-border-color: #999;
  --sidebar-background-color: #bfbfbf;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

input,
.audio-module {
  font-family: monospace;
}

#connection-map {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: 10000;
}

#connection-map line {
  /* cursor: url(../assets/scissors.svg) 10 3, auto; */
  stroke: yellow;
  stroke-width: 3;
}

#connection-map line:hover {
  stroke-width: 7;
  stroke: #ffff0080;
}

#audio-module-map {
  background: #141414;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: end;
}

#prototype-bank {
  background: var(--sidebar-background-color);
  height: 100%;
  width: fit-content;
  position: relative;
  display: inline-grid;
  align-content: start;
  justify-items: center;
  gap: 2em;
  padding: 1em;
  overflow: scroll;
}

#prototype-bank>.audio-module {
  position: relative;
}

.prototype-click-shield {
  position: absolute;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  top: -5px;
  left: -5px;
  z-index: 10;
}

#controller-bank {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: min-content;
  background: var(--sidebar-background-color);
  flex: 1;
  border-left: 2px dotted var(--module-background-color);
}

.audio-module {
  display: flex;
  align-items: stretch;
}

#prototype-bank>.audio-module,
#audio-module-map>.audio-module {
  background: var(--module-background-color);
  border: 5px outset var(--module-border-color);
}

#audio-module-map>.audio-module {
  position: absolute;
  z-index: 100;
}

#audio-module-map.dragging,
#audio-module-map.dragging .grabbable {
  cursor: grabbing !important;
}

#controller-bank>.audio-module {
  padding: 10px;
  flex-direction: column-reverse;
}

#controller-bank>.audio-module:not(:last-child) {
  border-right: 2px dotted var(--module-background-color);
}

.endpoint-jack {
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: black;
  background-clip: padding-box;
  border: transparent solid 10px;
  box-sizing: content-box;
}

.endpoint-jack:hover {
  border-color: #ffff0080;
}

.endpoint-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.endpoint-bank {
  display: flex;
  justify-content: start;
  align-items: stretch;
  flex-direction: column;
  flex-grow: 0;
  box-sizing: content-box;
}

.endpoint-bank:nth-child(1 of .endpoint-bank):not(:empty) {
  border-right: 2px inset var(--module-border-color);
}

.endpoint-bank:nth-child(2 of .endpoint-bank):not(:empty) {
  border-left: 2px inset var(--module-border-color);
}

.endpoint-bank:not(:empty) {
  padding: 0 2px;
  width: 6ch;
}

.endpoint-bank label {
  top: -5px;
  position: relative;
  display: inline-block;
  line-height: 10px;
  margin: 0;
}

#controller-bank>.audio-module .endpoint-bank {
  border: none;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 0;
  box-sizing: content-box;
}

.control-bank,
.input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.control-bank:not(:empty) {
  padding: 0 2px;
}

.control-bank label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.control-bank label input {
  margin-left: 5px;
}

.grabbable {
  cursor: grab;
}

keys-control {
  height: 150px;
  width: 350px;
  font-size: 18pt;
}

knob-control {
  padding: 1px;
  height: 8ch;
}

input[type=number] {
  color: lime;
  background-color: black;
  width: 6ch;
  border-color: var(--module-border-color);
  appearance: textfield;
}
