:root {
  --wire-color: yellow;
  --wire-hover-color: rgba(255, 255, 0, 0.5);
  --piano-key-color:#ffffe8;
  --map-background: #141414;
  --module-background: #777;
  --module-border: 5px outset #999;
  --label-font: 0.5em monospace;

  --number-input-color: lime;
  --number-input-background-color: black;
  --number-input-width: 4.5em;
  --number-input-font: 1.3em monospace;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#connection-map {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  z-index: 2;
}

#connection-map line {
  cursor: url(../assets/scissors.svg) 10 3, auto;
  stroke: var(--wire-color);
  stroke-width: 3;
}

#connection-map line:hover {
  stroke-width: 7;
  stroke: var(--wire-hover-color);
}

#module-map {
  background: var(--map-background);
  position: absolute;
  height: 100vh;
  width: 100vw;
}

#prototype-bank {
  position: absolute;
  display: grid;
}

.module-prototype {
  color: white;
  background: var(--module-background);
  border: var(--module-border);
  margin: 8px 4px 0 4px;
  padding: 0 1em;
}

.module-wrapper {
  background: var(--module-background);
  border: var(--module-border);
  padding: 8px 4px 8px 4px;
  position: absolute;
  display: flex;
  align-items: stretch;
}

.endpoint-label {
  position: relative;
  top: -5px;
  font: var(--label-font);
  display: inline-block;
  line-height: 10px;
  margin: 0;
}

.endpoint-socket {
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: black;
  background-clip: padding-box;
  border: transparent solid 10px;
  box-sizing: content-box;
}

.endpoint-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.endpoint-socket:hover {
  border-color: var(--wire-hover-color);
}

.endpoint-bank {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  flex-grow: 0;
}

.control-bank {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding: 0 2px;
}

.control-bank:empty {
  padding: 0;
}

.grabbable {
  cursor: grab;
}

.grabbing {
  cursor: grabbing !important;
}

#trash-can {
  color: white;
  background-color: rgba(63, 63, 63, 1);
  position: absolute;
  text-align: center;
  line-height: 100px;
  height: 100px;
  width: 100px;
  bottom: 50px;
  right: 50px;
  border-radius: 50%;
  transition: 0.5s all;
  z-index: 2;
}

#trash-can:hover {
  background-color: rgba(63, 63, 63, 0.4);
  height: 150px;
  width: 150px;
  line-height: 150px;
}

control-keys {
  height: 100%;
  width: 300px;
}

input[type=number] {
  color: var(--number-input-color);
  background-color: var(--number-input-background-color);
  font: var(--number-input-font);
  width: var(--number-input-width);

  /*Hide the arrows on inputs (polyfill)*/
  -moz-appearance: textfield;
}

/*Hide the arrows on inputs (polyfill)*/
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

label.number-label {
  font: var(--label-font);
  text-align: justify;
  text-align-last: justify;
}

label.radio-label {
  display: inline-block;
  font: var(--label-font);
}
