:root {
  --wire-color: yellow;
  --wire-hover-color: #ffff0080;
  --piano-key-color:#ffffe8;
  --key-border-radius: 0.5em;
  --map-background: #141414;
  --module-background: #777;
  --module-border: 5px outset #999;
  --label-font: 1em monospace;
  --prototype-bank-background: #bfbfbf;

  --number-input-color: lime;
  --number-input-background-color: black;
  --number-input-width: 6ch;
  --number-input-font: monospace;

  --keys-height: 150px;
  --keys-width: 350px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#connection-map {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: 10000;
}

#connection-map line {
  cursor: url(../assets/scissors.svg) 10 3, auto;
  stroke: var(--wire-color);
  stroke-width: 3;
}

#connection-map line:hover {
  stroke-width: 7;
  stroke: var(--wire-hover-color);
}

#audio-module-map {
  background: var(--map-background);
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: end;
}

#prototype-bank {
  background: var(--prototype-bank-background);
  height: 100%;
  width: fit-content;
  position: relative;
  display: inline-grid;
  align-content: start;
  justify-items: center;
  gap: 2em;
  padding: 1em;
  overflow: scroll;
}

#prototype-bank > .audio-module {
  position: relative;
}

.prototype-click-shield {
  position: absolute;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  top: -5px;
  left: -5px;
  z-index: 10;
}

#controller-bank {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: min-content;
  background: var(--prototype-bank-background);
  flex: 1;
  border-left: 2px dotted var(--module-background);
}

.audio-module {
  display: flex;
  align-items: stretch;
}

#prototype-bank > .audio-module,
#audio-module-map > .audio-module {
  background: var(--module-background);
  border: var(--module-border);
  cursor: grab;
}

#audio-module-map > .audio-module {
  position: absolute;
  z-index: 100;
}

#controller-bank > .audio-module {
  width: min-content;
  height: min-content;
  padding: 10px;
  border-right: 2px dotted var(--module-background);
  flex-direction: column-reverse;
}

.audio-module.dragging {
  cursor: grabbing;
  z-index: 1000 !important;
}

.endpoint-jack {
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: black;
  background-clip: padding-box;
  border: transparent solid 10px;
  box-sizing: content-box;
}

.endpoint-jack:hover {
  border-color: var(--wire-hover-color);
}

.endpoint-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.endpoint-bank {
  font: var(--label-font);
  display: flex;
  justify-content: start;
  align-items: stretch;
  flex-direction: column;
  flex-grow: 0;
  box-sizing: content-box;
}

#controller-bank > .audio-module .endpoint-bank {
  border: none;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 0;
  box-sizing: content-box;
}

.endpoint-bank:nth-child(1 of .endpoint-bank):not(:empty) {
  border-right: 2px inset #999;
}

.endpoint-bank:nth-child(2 of .endpoint-bank):not(:empty) {
  border-left: 2px inset #999;
}

.endpoint-bank:not(:empty) {
  padding: 0 2px;
  width: 6ch;
}

.control-bank, .input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.control-bank:not(:empty) {
  padding: 0 2px;
}

.grabbable {
  cursor: grab;
}

.grabbing {
  cursor: grabbing !important;
}

keys-control {
  height: var(--keys-height);
  width: var(--keys-width);
  font-size: 18pt;
}

knob-control {
  padding: 1px;
  height: 8ch;
}

input[type=number] {
  color: var(--number-input-color);
  background-color: var(--number-input-background-color);
  font: var(--number-input-font);
  width: var(--number-input-width);
  border-color: #999;

  /*Hide the arrows on inputs (polyfill)*/
  -moz-appearance: textfield;
}

/*Hide the arrows on inputs (polyfill)*/
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

label {
  font: var(--label-font);
}

.control-bank label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.control-bank label input {
  margin-left: 5px;
}

.endpoint-bank label {
  top: -5px;
  position: relative;
  display: inline-block;
  line-height: 10px;
  margin: 0;
}
